body{
  background-color: black;

}
.card{
  background-color:crimson;
  color:white
}
.btn{
  position: absolute;
  bottom:50%;
  left:30%;
  transform: translateY(800%);
}
.nav-img{
  width: 2rem;
}

